html, body, header, #intro {
	height: 100%;
}
#intro {
	background: url("../img/city.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.top-nav-collapse {
	background-color: #000103;
}
.map-container {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.map-container iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}
#map-container-google-1 {
	height: 424px;
}
.hr-w-100 {
	width: 60px !important;
}
.navbar {
	box-shadow: none !important;
}

@media screen and (max-width: 991px) {
	.nav-2 {
		display: none !important;
	}
}